*,
::before,
::after {
    margin: 0;
    padding: 0;
}

body {
    row-gap: 35px;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

i {
    color: #0065FC;
}

h2 {
    font-size: 22px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

h4 {
    font-size: 16px;
    font-weight: 700;
}

button,
input {
    border: none;
    background-color: transparent;
}

span {
    font-weight: bold;
}

.column {
    display: flex;
    flex-direction: column;
}

.grey {
    color: #F2F2F2;
}

/* -------------------------------------------- */

header {
    display: flex;
    justify-content: space-between;
}

header .container-logo {
    padding: 30px;
}

header img {
    height: 19px;
}

header nav {
    display: flex;
    column-gap: 69px;
    margin-right: 42px;
}

header nav a {
    padding-top: 16px;
}

header nav a:hover {
    padding-top: 14px;
    border-top: #0065FC solid 2px;
    color: #0065FC;
}

/* ---------- */

main {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

.research {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    margin: 0 50px;
}

.presentation {
    height: 53px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.presentation p {
    font-size: 16px;
}

form {
    height: 49px;
    display: flex;
}

form .fa-location-dot {
    width: 50px;
    height: 49px;
    display: flex;
    color: black;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

form .search-bar {
    width: 180px;
    height: 45px;
    font-size: 20px;
    font-weight: 700;
    border: #F2F2F2 solid 2px;
}

form .search-bar[type=text] {
    outline: none;
    padding: 0 5px 0 6px;
}

form .search-bar::placeholder {
    color: black;
}

form .send {
    width: 132px;
    height: 49px;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    position: relative;
    color: white;
    left: -1px;
}

form .send:hover {
    box-shadow: 1px 2px 4px grey;
}

.filter {
    column-gap: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.filter div {
    display: flex;
    column-gap: 15px;
}

.filter button {
    height: 50px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 17px;
    font-weight: 700;
    border-radius: 25px;
    border: #D9D9D9 solid 2px;
    padding: 15px 19px;
}

.filter button:hover,
.filter button:focus {
    background-color: #DEEBFF;
}

.filter button i {
    font-size: 20px;
}

.info {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.info i {
    width: 24px;
    height: 24px;
    display: flex;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    border: #D9D9D9 solid 1px;
    border-radius: 12px;
}

/* --------------- */

.container-hebergement-popular {
    display: flex;
    column-gap: 40px;
    margin: 0 50px;
}

.container-hebergement-popular section {
    row-gap: 30px;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 30px;
}

.container-cards article {
    border-radius: 20px;
    background-color: white;
}

.container-text .rating {
    font-size: 13px;
}

.hebergement {
    width: 65%;
    display: flex;
    row-gap: 30px;
    flex-direction: column;
}

.hebergement .container-cards {
    display: flex;
    column-gap: 30px;
}

.hebergement article {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    transition: .5s;
}

.hebergement article:hover {
    transform: scale(1.15);
}

.hebergement .container-img {
    padding: 4px;
}

.hebergement .container-img img {
    width: 100%;
    height: 114px;
    border-radius: 20px 20px 0 0;
    background-color: #F2F2F2;
    object-fit: cover;
}

.hebergement .container-text {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 0 15px;
    margin-bottom: 15px;
}

.hebergement .container-text p {
    font-size: 14px;
}

.popular {
    width: 32%;
}

.popular .presentation {
    height: 26px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.popular .container-cards {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.popular article {
    transition: .5s;
}

.popular article:hover {
    transform: scale(1.1);
}

.popular .container-cards a {
    height: 134px;
    display: flex;
    padding: 5px;
    column-gap: 15px;
}

.popular article .container-img {
    width: 36%;
    border-radius: 17px 0 0 17px;
}

.popular .container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 17px 0 0 17px;
}

.popular .container-text {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.popular .container-text .descrip {
    height: 80%;
    padding: 10px 10px 0 0;
}

.activity {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    padding: 30px;
    gap: 30px;
}

.activity .container-cards {
    display: flex;
    column-gap: 30px;
}

.activity article {
    width: 25%;
    box-shadow: 0 1px 10px #dddddd;
}

.activity .container-cards .container-img {
    height: 380px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.activity .container-cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    transition: .8s;
}

.activity .container-cards img:hover {
    transform: scale(1.2);
}

.activity .container-cards .container-text {
    height: 59px;
    display: flex;
    align-items: center;
    border-radius: 0 0 20px 20px;
    padding-left: 15px;
}

.activity .container-text h4 {
    height: 19px;
    display: flex;
    align-items: center;
}

/* ---------------- */

footer {
    display: flex;
    background-color: #F2F2F2;
    margin: 0 50px;
}

footer div {
    row-gap: 15px;
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

footer a:hover {
    opacity: 50%;
}

@media screen and (max-width: 992px) {
    .container-hebergement-popular {
        flex-direction: column;
        row-gap: 50px;
    }

    .hebergement,
    .popular {
        width: unset;
    }

    .popular .container-cards {
        flex-direction: row;
        column-gap: 20px;
    }

    .popular .container-cards article {
        width: 33%;
    }

    .activity .container-cards .container-img {
        height: 200px;
    }

    .activity .container-cards .container-text {
        height: 70px;
    }

    .activity .container-cards h4 {
        height: 38px;
    }
}

@media screen and (max-width: 768px) {}