*,
::before,
::after {
    margin: 0;
    padding: 0;
}

body {
    gap: 30px;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

i {
    color: #0065FC;
}

button,
input {
    border: none;
    background-color: transparent;
}

.column {
    display: flex;
    flex-direction: column;
}

.blue {
    color: #0065FC;
}

.grey {
    color: #F2F2F2;
}

/* -------------------------------------------- */

header {
    display: flex;
    justify-content: space-between;
}

header .container-logo {
    padding: 30px;
}

header img {
    height: 19px;
}

header nav {
    display: flex;
    gap: 69px;
    margin-right: 42px;
}

header nav a {
    padding-top: 16px;
}

header nav a:hover {
    padding-top: 14px;
    border-top: #0065FC solid 2px;
    color: #0065FC;
}

/* ---------- */

main {}

footer {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {}