*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    max-width: 1400px;
    margin: auto;
}

a,
button {
    background-color: transparent;
    text-decoration: unset;
    color: black;
    border: unset;
}

header {
    display: flex;
    justify-content: space-between;
}

header img {
    height: 19px;
    margin: 30px 50px;
}

header nav {
    display: flex;
    margin: 0 50px;
    text-align: center;
}

header nav a {
    width: 162px;
    padding-top: 16px;
}

header nav a:hover {
    color: #0065FC;
    padding-top: 14px;
    border-top: solid 2px #0065FC;
}